@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&display=swap");

//Primary

$colorSoftRed: hsl(7, 99%, 70%);
$colorYellow: hsl(51, 100%, 49%);
$colorDarkDesaturatedCyan: hsl(167, 40%, 24%); //Graphic design text
$colorDarkBlue: hsl(198, 62%, 26%); //Photography Text
$DarkModerateCyan: hsl(168, 34%, 41%); //Footer

//Neutral

$colorDarkDesaturatedBlue: hsl(212, 27%, 19%);
$colorVeryDarkGrayishBlue: hsl(213, 9%, 39%);
$colorDarkGrayishBlue: hsl(232, 10%, 55%);
$colorGrayishBlue: hsl(210, 4%, 67%);
$colorWhite: hsl(0, 0%, 100%);

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
  font-size: 18px;
  font-family: "Barlow";
}

.section1 {
  background-image: url(images/desktop/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;
  padding-top: 2em;
  height: 100vh;
}

.logo {
  padding-left: 2em;
}

.nav-item {
  text-decoration: none;
  color: $colorWhite;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.navigation {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: $colorWhite;
  font-family: "Fraunces", serif;
  color: $colorDarkDesaturatedBlue;
  text-transform: uppercase;
  padding: 0.8em 1.5em;
  margin-right: 2em;
  border-radius: 1.5em;
  font-weight: 600;
  font-size: 14px;
}

.center-text {
  text-align: center;
}

.title {
  text-transform: uppercase;
  color: $colorWhite;
  font-weight: 900;
  font-size: 40px;
  padding-top: 3em;
  font-family: "Fraunces", serif;
  letter-spacing: 0.3em;
}

.down-arrow {
  padding-top: 8em;
}

.section2,
.section3 {
  display: flex;
}

.text-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box-text {
  max-width: 61%;
  h2 {
    font-family: "Fraunces", serif;
    font-size: 2.2em;
    color: $colorDarkDesaturatedBlue;
  }

  p {
    color: $colorDarkGrayishBlue;
    line-height: 1.5em;
  }

  a {
    font-family: "Fraunces", serif;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: $colorDarkDesaturatedBlue;
  }
}
